html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

:root {
  --primary: #17338a;
  --secondary: #17548a;
  --heading: #09090b;
  --text: #27272a;
  --background-color: #f8fafc;

  --sans-serif: 'Lato', sans-serif;
  --serif: serif;

  --cta-button-height: 48px;
}

.colorful {
  filter: grayscale(0) !important;
}

@keyframes visible {
  0% { opacity: 0}
  100% {opacity: 1}
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  1% { transform: translateX(5px) }
  2% { transform: translateX(-5px) }
  3% { transform: translateX(5px) }
  4% { transform: translateX(-5px) }
  5% { transform: translateX(5px) }
  6% { transform: translateX(-5px) }
  7% { transform: translateX(0) }
}

@keyframes color-bleed {
  0% { filter: grayscale(1)}
  50% { filter: grayscale(0)}
  100% { filter: grayscale(1)}
}

@keyframes pulse {
  0% { opacity: 1}
  50% { opacity: 0.6}
  100% {opacity: 1}
}

body {
  font-family: var(--serif);
  font-weight: 300;
  font-style: normal;
  min-width: 360px;
  color: var(--text);
  animation: visible;
  animation-duration: 1.0s;
  animation-timing-function: ease-in;

  background-color: var(--background-color);

  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: var(--sans-serif);
  font-weight: 400;
  font-style: normal;
  color: var(--heading);
}

h1 {
  font-size: 62px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 14px;
}

b {
  font-weight: 700;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0 auto 0 auto;
  height: 100svh;

  @media screen and (min-width: 960px) {
    max-width: 960px;
    max-height: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }

}

#banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

  h1 {
    margin: 0;
    letter-spacing: -1px;
  }

  h2 {
    font-family: var(--serif);
    letter-spacing: 1.4px;
  }

  p {
    letter-spacing: 2px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 64px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 128px;
  }

}

#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 678px) {
    width: 50%;
  }

}

#profile {

  display: flex;
  width: 100%;
  justify-content: space-around;

  @media screen and (min-width: 678px) {
    width: 50%;
  }


  transition-delay: 0.75s;
  transition-duration: 1s;
  animation-timing-function: ease-in-out;

  img {
    width: 256px;
    height: 256px;
    transform: scaleX(-1);
  }

}

#images {
  display: none;

  @media screen and (min-height: 750px) {
    display: flex;
  }

  flex-direction: row;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;

  height: 64px;
  align-items: center;
  justify-content: space-around;

  filter: grayscale(1);
  transition-delay: 5s;
  transition-duration: 3s;
  animation-timing-function: ease-in-out;

  animation: color-bleed 20s infinite;
  animation-delay: 5s;

  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }

  @media screen and (min-width: 960px) {
    margin-top: 64px;
    margin-bottom: 92px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 128px;
  }


  img {
    width: 64px;
    height: 64px;
  }
}

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: fit-content;
  align-items: center;

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 960px) {
    margin-bottom: 32px;
  }

  p {
    font-size: 22px;
    font-family: monospace;
    font-weight: bolder;
  }

  a {
    width: 140px;
    height: var(--cta-button-height);
    text-decoration: none;

    font-family: var(--sans-serif);
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.9px;

    border: 1px solid var(--primary);
    border-radius: 32px;
    text-align: center;
    line-height: 48px;

    background-color: var(--primary);
    color: white;
    transition-property: background-color, color;
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;

    animation: horizontal-shaking 10s infinite;
    animation-delay: 5s;

    &:hover {
      background-color: white;
      color: var(--primary);
    }
  }

  #available {
    animation: pulse 4s infinite ease-in-out;
    animation-delay: 1s;
  }

}
